.show-container {
  height: 500px;
}

.custom-icon {
  height: 18px;
  width: 18px;
}

.custom-icon-text {
  color:#484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  margin:0px;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 300;
  display: inline;
 }

.row {
  background-color: white;
}

.btn {
  padding-top: 10px;
  position: relative;
}

.avatar-large {
  width: 90px;
  border-radius: 50%;
}

.presentation-text {

}
