

.banner {
  background-position: center;
}
.show-container {
  height: 200px;
}

.custom-icon {
  height: 18px;
  width: 18px;
}

.custom-icon-text {
  color:#484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  margin:0px;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 300;
  display: inline;
 }

.btn {
  padding-top: 10px;
  position: relative;
}

.avatar-large {
  width: 90px;
  border-radius: 50%;
  padding-top: 10px;
}

.presentation-text {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 17px;
  font-weight:300;
  letter-spacing:0.2px;
  line-height: 22px;
}

.calendar {
  margin-top: 10px;
}

h3 {
  color:#484848;
  font-family:Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size:17px;
  letter-spacing:0.2px;
  line-height: 22px;
}

p {
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 22px;
}

.list-inline {
  color: #008489;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  cursor: pointer;
  user-select: auto;
  font-size: 17px;
}
