

.profil {
  h1 { color:#484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.6px;
    }

  p {
  color:#484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.2px;
    }
}

.profil_user {
  margin-top: 100px;
  background: white;
  padding: 30px;
}

.flat_details {
  background: white;
  margin-top: 30px;
}
