


<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>



<% unless current_user.nanny_offers.empty? then %>
  <p>Vos demandes client :</p>
    <p><%= "Vous avez #{current_user.nanny_offers.last.bookings.count} demande client" %></p>
    <%= current_user.nanny_offers.last.bookings.each do |customer_request| %>
      <p><%= customer_request %></p>
      <br>
    <% end %>
<% end %>
<br>



<div class="content">
  <div class="cards-container">
    <div class="mybookingscards">
      <div class="col-md-8">
        <div class="booking-card">
        <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
          <h4>Pauline</h4>
          <p>Patiente même quand vos enfants n'y arrivent pas</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="booking-status">
        <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
          <h4>Pauline</h4>
          <p>Patiente même quand vos enfants n'y arrivent pas</p>
        </div>
      </div>
    </div>
  </div>
</div>
