<h1> TEST </h1>

<p>First name : <%= @user.first_name %></p>
<p>Last Name : <%= @user.last_name %></p>
<p>Gender : <%= @user.gender %></p>
<p>ETC (à compléter)</p>
<p> A ajouter : bouton éditer profil (path vers edit_user_registration géré par devise)</p>
