<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-left col-xs-12 col-lg-4">
        <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "logo.png" %>
        <% end %>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
      <div class="footer-center col-xs-12 col-lg-4">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>16 Villa Gaudelet</span> Paris, France</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@tabata.com">contact@tabata.com</a></p>
        </div>
        <div>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <p><%= link_to "Mentions Légales", root_path %></p>
        </div>
      </div>

      <div class="footer-right col-xs-12 col-lg-4">
        <p class="footer-company-about">
          <span>A propos de Tabata</span>
          Vous êtes dans l'urgence et avez besoin d'une nounou d'enfer. Tabata vous présente les nouveaux anges-gardiens de vos enfants.
        </p>
    </div>
  </div>
</footer>
