<ul class="list-inline">
  <li>
    <%= link_to "Présentation", anchor:"présentation"%>
  </li>

  <li>
    <%= link_to "Commentaires", anchor:"commentaires"%>
  </li>

  <li>
     <%= link_to "La Nounou", anchor:"nounou"%>
  </li>

  <li>
     <%= link_to "Emplacement", anchor:"emplacement"%>
  </li>
</ul>
