<ul class="list-inline">
  <li>
    <%= link_to "Présentation", anchor: "test" %>
  </li>

  <li>
    <%= link_to "Commentaires", anchor: "test"%>
  </li>

  <li>
     <%= link_to "La Nounou", anchor: "test"%>
  </li>

  <li>
     <%= link_to "Emplacement", anchor: "test"%>
  </li>
</ul>
