<div class="banner" style="background-image: linear-gradient(-225deg, rgba(201, 214, 255, 0.4) 0%, rgba(226, 226, 226, 0.4) 50%), url('<%= asset_path "banner-home-photo.jpg"  %>');">
  <div class="banner-content">
    <h1>Trouvez une nounou en urgence</h1>
    </div>
</div>
