<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2> Nouvelle offre</h2>
      <%= simple_form_for [@nanny_offer] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit class: "btn btn-yours", value: "Créer l'offre" %>
      <% end %>
    </div>
  </div>
</div>
