

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(188, 78, 156, 0.3) 90%, rgba(248, 7, 89, 0.3) 90%), url('<%= asset_path "nanny-offer-show" %>');">
</div>

    <div class="container">
      <div class="row">
          <div class="col-xs-6 col-sm-8 col-lg-12">
<%= @nanny_offer.start_date  %>
          </div>
      </div>
    </div>



