.cards-container {
  height: 200px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  border-radius: 2px;
  background-color: white;
  border: 2px;
  border-color: black;
  justify-content: space-around;
}

.booking-status {
  height: 100px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  border-radius: 2px;
  background-color: white;
  border: 2px;
  border-color: black;
  justify-content: space-around;
  text-align: center;
}

.nannycard-content {
  height: 100px;
  justify-content: space-around;
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
  color: white;
  text-shadow: 0 0 0.5px rgba(245, 206, 209, 1);
}

.nannycard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button {
  padding: 0.5em 0.5em;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: 400;
  background-color: #D14E53;
  color: #ffffff;
  font-weight: bold
}
.button:hover {
  color: #ffffff;
  background-color: #D14E53;
  box-shadow: 0 0 5px #F7D1B8;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
