.btn-yours {
    padding: 0.5em 0.5em;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 400;
    background-color: #D14E53;
    color: #ffffff;
    font-weight: bold
}

.btn-yours:hover{
  color: #ffffff;
  background-color: #D14E53;
  box-shadow: 0 0 5px #F7D1B8;
}
